<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="shortcut icon" href="/favicon.ico">
<head>
  <title>Nostr Events WebClient</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="/main.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="/js/register.js"></script>
  <script src="/js/nip-2112.js"></script>
  <script src="/js/common.js"></script>
</head>
<body>
<noscript><h2 style="color: #ff0000">Enable Javascript to view this page</h2></noscript>
<main>
  <h1>Event WebSocket</h1>
  <form class="form-inline center">
    <div class="form-group">
      <button tabindex="1" id="connect" class="btn btn-default" type="submit">Connect</button>
      <button tabindex="1" id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Disconnect</button>
    </div>
  </form>
  <hr>

  <div th:if="!${authActive}" class="tabs">
    <input class="radiotab" name="tabs" tabindex="1" type="radio" id="tabthree" checked="checked">
    <label class="label" for="tabthree">NIP-2112</label>
    <div class="panel">
      <div class="col-md-6">
        <form class="form-inline">
          <div class="form-group">
            <label for="2112-content">Send message:</label>
            <input tabindex="1" type="text" value="1111111111" id="2112-content" class="form-control"
                   placeholder="message...">
          </div>
          <div class="form-group">
            <label for="2112-v_tag">VoteTag: </label>
            <input tabindex="1" type="text" value="1" id="2112-v_tag" class="form-control"
                   placeholder="vote-tag">
          </div>
          <input type="hidden" id="2112-kind" name="2112-kind" value=2112>
          <div class="row">
            <div class="col-md-6">
              <div class="form-inline">
                <div class="center gap">
                  <button id="send2112" class="btn btn-default" type="submit" disabled="disabled">Send Nip-2112 Event
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


  <h4>Response</h4>
  <div class="row">
    <div class="col-md-12">
      <table id="conversation" class="table table-striped">
        <tbody id="events">
        </tbody>
      </table>
    </div>
  </div>
</main>
</body>
</html>
