<!DOCTYPE html>
<html lang="en">
<link rel="shortcut icon" href="/favicon.ico">
<head>
  <title>AfterImage Nip-51: SC SEARCH_RELAYS_LIST / AImg RELAY_SETS</title>
  <link rel="stylesheet" href="/bootstrap-3.3.7.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="/main.css" rel="stylesheet">
  <script src="/js/jquery-3.7.1.min.js"></script>
  <script src="/js/register.js"></script>
  <script src="/js/nip-51.js"></script>
  <script src="/js/common.js"></script>
</head>
<body>
<noscript><h2 style="color: #ff0000">Enable Javascript to view this page</h2></noscript>
<main>
  <h1>AfterImage Nip-51: SC SEARCH_RELAYS_LIST / AImg RELAY_SETS</h1>
  <form class="form-inline center">
    <div class="form-group">
      <button tabindex="1" id="connect" class="btn btn-default" type="submit">Connect</button>
      <button tabindex="1" id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Disconnect
      </button>
    </div>
  </form>
  <hr>

  <div class="tabs">
    <input class="radiotab" name="tabs" tabindex="1" type="radio" id="tabone" checked="checked">
    <label class="label" for="tabone">Register</label>
    <div class="panel">
      <div class="col-md-6">
        <form class="form-inline">
          <div class="form-group">
            <label for="challenge">Create Password: </label>
            <input tabindex="1" type="text" value="456456" id="challenge" class="form-control" placeholder="456456">
          </div>
          <div class="form-group">
            <label for="pubkeyregister">Pubkey: </label>
            <input tabindex="1" type="text" value="zzzd79f81439ff794cf5ac5f7bff9121e257f399829e472c7a14d3e86fe76984"
                   id="pubkeyregister" class="form-control" placeholder="pubkeyregister">
          </div>
          <input type="hidden" id="kindregister" name="kindregister" value=22242>
          <input type="hidden" id="relay" name="relay" value='ws://localhost:5556'>
          <div class="row">
            <div class="center gap">
              <button id="sendregister" class="btn btn-default" type="submit" disabled="disabled">Register</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    
    <input class="radiotab" name="tabs" tabindex="1" type="radio" id="tabtwo">
    <label class="label" for="tabtwo">SC 10007:SEARCH_RELAYS_LIST</label>
    <div class="panel">
      <div class="col-md-6">
        <form class="form-inline">
          <div class="form-group">
            <label for="superconductor_url">SuperConductor URL:</label>
            <select name="superconductor_url" id="superconductor_url">
              <option selected value="ws://localhost:5555">5555</option>
              <option value="ws://localhost:5554">5554</option>
              <option value="ws://localhost:5553">5553</option>
            </select>
          </div>
          <input type="hidden" id="10007-kind" name="10007-kind" value=10007>
          <div class="row">
            <div class="col-md-6">
              <div class="form-inline">
                <div class="center gap">
                  <button id="send10007" class="btn btn-default" type="submit" disabled="disabled">
                    Send SC 10007:SEARCH_RELAYS_LIST Event
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <input class="radiotab" tabindex="1" name="tabs" type="radio" id="tabthree">
    <label class="label" for="tabthree">AImg 30002:RELAY_SETS</label>
    <div class="panel">
      <div class="col-md-6">
        <form class="form-inline">
          <div class="form-group">
            <label for="afterimage_url">AfterImage URL:</label>
            <select name="afterimage_url" id="afterimage_url">
              <option value="ws://localhost:5556">5556</option>
              <option value="ws://localhost:5557">5557</option>
              <option value="ws://localhost:5558">5558</option>
              <option value="ws://localhost:5559">5559</option>
            </select>
          </div>
          <input type="hidden" id="30002-kind" name="30002-kind" value=30002>
          <div class="row">
            <div class="col-md-6">
              <div class="form-inline">
                <div class="center gap">
                  <button id="send30002" class="btn btn-default" type="submit" disabled="disabled">
                    Send AImg 30002:RELAY_SETS Event
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <h4>Response</h4>
  <div class="row">
    <div class="col-md-12">
      <table id="conversation" class="table table-striped">
        <tbody id="events">
        </tbody>
      </table>
    </div>
  </div>
</main>
</body>
</html>
